<!DOCTYPE html> 
<html>
  <script src="https://js.stripe.com/v3/"></script> 
<title>GPS Legal</title> 
<body> 
  
    <form action="payment" method="POST"> 
    <script
        src="//checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="<%= key %>" 
        data-amount="2800" 
        data-currency="PEN" 
        data-name="GPS Legal" 
        data-description="Versión Standard" 
        data-locale="auto" 
        data-image  = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsO96SvKTPDGZPA4OE9gWaE6svpoa4r-mEBg&usqp=CAU">
        </script> 
        <button type="submit" class="btn blue">Pagar ahora</button>
    </form> 
    <style>


        .stripe-button-el{
            display: none;
        }
        .btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
        .blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  border: none;
}
    </style>
</body> 
</html>